body {
    margin: 0;
}

.content {
    margin: 0;
}

.optionsForm {
    background: silver;
    padding: 50px;
}

.optionsForm textarea {
    height: 50px;
    resize: none;
}

.optionsForm input[type="button"] {
    display: block;
    margin-top: 20px;
}

.section {
    display: inline-block;
    margin: 0 20px;
    vertical-align: top;
}

.notice {
    /*background: #20B2AA;*/
    width: 200px;
    opacity: 0;
    padding: 10px;
   /* left: 0;*/
    margin: 10px 0; 
    position: absolute;
    z-index: 9999;
}

