body {
    margin: 0;
}

.notice {
    background: #20B2AA;
    width: 200px;
    opacity: 0;
    padding: 10px;
    margin: 10px 0; 
    position: absolute;
    z-index: 9999;
}

h2 {
    position: relative;
    /*z-index: 0;*/
}